body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(245, 245, 245);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.image {
  width: 25rem;
  height: 10rem;
  object-fit: cover;
  margin: 0px auto;
}

@media (max-width: 770px) {
  .container {
    margin: 0 10%;
  }

  .image {
    width: 100%;
  }
}
